.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AccommodationImage {
  grid-column-start: 1;
  grid-column-end: 2;
}

.Description {
  height: 10rem;
  overflow: scroll;
  border-style: solid;
  border-radius: 0.1rem;
}

.List {
  text-align: left;
  margin: auto;
  margin-bottom: 5px;
  width: 15%;
}

.ListItem {
  border-style: solid;
  border-width: 1rem;
  border-color: rgb(186, 102, 34);
  padding: 16px;
  height: auto;
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  background-color: rgb(250, 252, 209);
}

.RoomCard {
  border-style: solid;
  border-width: 0.4rem;
  border-color: rgb(186, 102, 34);
  margin: 0.4rem;
  overflow: visible;
}

.SummaryRow {
  width: 20%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
